.reset-Password {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  bottom: 0;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}

.reset-Password > * {
  margin: 0;
}

.reset-Password h3 {
  font-size: 0.9rem;
  font-weight: light;
  text-transform: capitalize;
  color: #817e7e;
}

.reset-Password > div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: grid;
  gap: 1rem;
  background-color: aliceblue;
  padding: 1rem 3rem;
}
.reset-Password > div form {
  background-color: transparent;
  left: 0;
  position: relative;
  width: 80%;
  padding: 0;
}

.reset-Password > div input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
}

.reset-Password > div input[type="submit"] {
  background-color: rgb(107, 216, 107);
  cursor: pointer;
}

.reset-Password > div input[type="submit"]:hover {
  background-color: rgb(30, 177, 30);
}

.close-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.close-form:hover {
  background-color: #dddada;
}

/* style for reseting the password */
.password-reset-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: grid;
  place-items: center;
  backdrop-filter: blur(3px);
}

.password-reset-form form {
  background-color: #eee;
  width: 40%;
}
.password-reset-form form input {
  outline: none;
}
.password-reset-form form input[type="submit"] {
  cursor: pointer;
  background-color: rgb(76, 165, 76);
}
